*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: gray;
}

#container{
    background-color: white;
    width: 500px;
    height: 300px;
    margin: 20px;
}

.red{
    background-color: red;
    height: 50%;
    width: 100%;
}

.white{
    background-color: white;
    width: 100%;
    height: 50%;
}

.blue{
    background-color: blue;
    width: 40%;
    height: 100%;
}

.box{
    grid-area: 1/2/3;
}

